:root {
    --f-tabs-color-icon: var(--f-color-text-weakest);
    --f-tabs-panel-border-color: var(--f-color-border);
    --f-tabs-panel-padding: var(--f-space-6);
    --f-tabs-tab-padding: var(--f-space-3);
    --f-tabs-tab-color: var(--f-color-text-weak);
    --f-tabs-tab-active: var(--f-color-accent);
    --f-tabs-tab-disabled-color: var(--f-color-text-weakest);
    --f-tabs-tab-background-hover: var(--f-color-surface-strong);
    --f-tabs-icon-padding: var(--f-space-inset-x-2);
    --f-tabs-arrow-padding: var(--f-space-inset-x-1);
    --f-tab-ix-spacing: 0.5rem;
    --f-tab-inner-width: fit-content;
}

.f-tabs {
    position: relative;
    display: flex;
    justify-content: stretch;
    align-items: stretch;
    align-content: stretch;
    width: 100%;
    height: 100%;
}

/**************************************/

.f-tab-list {  
    color: var(--f-tabs-color-icon);
    
}

.f-tab-list * {
    user-select: none;
}

.f-tab-list.is-left {
    border-right: 0.1rem solid var(--f-tabs-panel-border-color);
}

.f-tab-list.is-right {
    border-left: 0.1rem solid var(--f-tabs-panel-border-color);
}

.f-tab-list.is-top {
    border-bottom: 0.1rem solid var(--f-tabs-panel-border-color);
}

.f-tab-list.is-bottom {
    border-top: 0.1rem solid var(--f-tabs-panel-border-color);
}

.f-tab-list__icon {
    padding: var(--f-tabs-arrow-padding);
}

/* animated */

.f-tab-list__selected {
    position: absolute;
    z-index: 1;
    transition-property: var(--f-transition-property-dimensions), var(--f-transition-property-position);
    transition-duration: var(--f-transition-duration-faster); 
    transition-timing-function: var(--f-transition-easing-ease-out);
    pointer-events: none;
}

.f-tab-list__selected-inner {
    position: absolute;
    background-color: var(--f-tabs-tab-active);
}

.f-tab-list.is-left .f-tab-list__selected-inner {
    right: 0px;
    top: 0px;
    width: var(--f-size-1);
    height: 100%;
}

.f-tab-list.is-right .f-tab-list__selected-inner {
    left: 0px;
    top: 0px;
    width: var(--f-size-1);
    height: 100%;
}

.f-tab-list.is-top .f-tab-list__selected-inner {
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: var(--f-size-1);
}

.f-tab-list.is-bottom .f-tab-list__selected-inner {
    left: 0px;
    top: 0px;
    width: 100%;
    height: var(--f-size-1);
}

/* inner */

.f-tab-list__inner {
    flex: 1;
    position: relative;
    justify-content: stretch;
    align-items: stretch;
    align-content: stretch;
    overflow: auto;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
    scroll-behavior: smooth;
}

.f-tab-list__inner::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.f-tab-list.is-top .f-tab-list__inner,
.f-tab-list.is-bottom .f-tab-list__inner {
    width: fit-content;
    height: 100%;
}

.f-tab-list.is-top .f-tab-list__inner-container,
.f-tab-list.is-bottom .f-tab-list__inner-container {
    width: var(--f-tab-inner-width);
    height: 100%;
}

.f-tab-list.is-stretch .f-tab-list__inner-container {
    flex: 1;
    height: unset;
    width: unset;
}

.f-tab-list.is-top .f-tab-list__inner-container > *,
.f-tab-list.is-bottom .f-tab-list__inner-container > * {
    height: 100% !important;
}

.f-tab-list.is-left .f-tab-list__inner,
.f-tab-list.is-right .f-tab-list__inner,
.f-tab-list.is-left .f-tab-list__inner-container,
.f-tab-list.is-right .f-tab-list__inner-container {
    width: 100%;
    height: fit-content;
}

/**************************************/

.f-tab {
    background: transparent;
    padding: var(--f-tabs-tab-padding);
    color: var(--f-tabs-tab-color);
    position: relative;
    outline: none;
    cursor: pointer;
    flex-grow: 1;
    gap: var(--f-tab-ix-spacing);
}

.f-tab:focus,
.f-tab:not(:disabled):hover {
    outline: none;
    background: var(--f-tabs-tab-background-hover);
} 

.f-tab-list.is-left .f-tab {
    width: 100%;
    text-align: left;
}

.f-tab-list.is-right .f-tab {
    width: 100%;
    text-align: right;
}

.f-tab.is-selected {
    color: var(--f-tabs-tab-active);
}

.f-tab:disabled,
.f-tab:disabled * {
    color: var(--f-tabs-tab-disabled-color);
    cursor: not-allowed;
}

.f-tab__label {
    flex: 1;
}

.f-tab__suffix {
    flex-shrink: 0;
    height: fit-content;
    width: fit-content;
}

.f-tab__prefix {
    flex-shrink: 0;
    height: fit-content;
    width: fit-content;
    
}

/* active marker */

.f-tab__active {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: var(--f-size-1);
    transform: translateY(100%);
    background-color: var(--f-tabs-tab-active);
    animation: f-tab-current-fadein var(--f-transition-duration-slow);
}

.f-tab-list.is-left .f-tab__active {
    bottom: 0px;
    left: 100%;
    width: var(--f-size-1);
    height: 100%;
    transform: translateX(-100%);
}

.f-tab-list.is-right .f-tab__active {
    bottom: 0px;
    left: 0px;
    width: var(--f-size-1);
    height: 100%;
    transform: translateX(0%);
}

.f-tab-list.is-top .f-tab__active {
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: var(--f-size-1);
    transform: translateY(0%);
}

.f-tab-list.is-bottom .f-tab__active {
    bottom: 100%;
    left: 0px;
    width: 100%;
    height: var(--f-size-1);
    transform: translateY(100%);
}

@keyframes f-tab-current-fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}


/**************************************/

.f-tab-panels {
    z-index: 1;
    position: relative;
    border: none;
    flex: 1;
    color: var(--f-tabs-tab-color);
    align-self: stretch;    
}

/* single panel */

.f-tab-panel {
    position: relative;
    width: 100%;
    height: 100%;
    padding: var(--f-tabs-panel-padding);    
    animation: f-tabs-panel-fadein var(--f-transition-duration-fast);
}

@keyframes f-tabs-panel-fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}
