:root {
    --f-drag-speed: 0s;
    --f-drag-transition: cubic-bezier(.17,.67,.54,1.06);
    --f-drag-indent: 0px;
    --f-drag-is-dragged-opacity: 1;
    --f-drag-is-dragged-pointer-events: none;
}

/* area */

.f-drag-area {
    position: relative;
    flex-shrink: 0;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
}

/* dragging */

.f-drag-area.is-dragging .f-drag-element > *,
.f-drag-area.is-dragging .f-drag-area__element > * {
    pointer-events: none;
    user-select: none;
}

.f-drag-area.is-dragging {
    pointer-events: all !important; 
    user-select: all !important; 
}

.f-drag-area.is-dragging .f-drag-element > *.drag-pe-all,
.f-drag-area.is-dragging .f-drag-area__element > *.drag-pe-all {
    pointer-events: all !important; 
    user-select: all !important; 
}

/* target groups */

.f-drag-area.is-dragging.no-origin-variant .f-drag-area.is-dragging:not(.no-origin-variant) {
    pointer-events: all;    
    user-select: all;
}

.f-drag-area.is-dragging.no-origin-variant {
    pointer-events: none !important;
    user-select: none !important;
}

/* drag element */

.f-drag-element {
    flex-direction: column;
}

.f-drag-element,
.f-drag-area__element {
    position: relative;
    user-select: none;  
    flex-shrink: 0;
    transition: none;
    z-index: 2;
}

[data-dragginganimation = "yes"] .f-drag-area .f-drag-element,
[data-dragginganimation = "yes"] .f-drag-area .f-drag-area__element {
    transition: transform var(--f-drag-speed) var(--f-drag-transition);
}

.f-drag-area.is-vertical > .f-drag-element,
.f-drag-area.is-vertical > .f-drag-area__element {
    width: 100%;
    height: fit-content;
}

.f-drag-area.is-horizontal > .f-drag-element,
.f-drag-area.is-horizontal > .f-drag-area__element {
    width: fit-content;
    height: 100%;
}

/* is dragged */
/* this only works for dragarea (not dragelementarea) */
/* even though it says f-drag-element */

.f-drag-element.is-dragged,
.f-drag-area__element.is-dragged {
    pointer-events: var(--f-drag-is-dragged-pointer-events);
}

.f-drag-element.is-dragged > *,
.f-drag-area__element.is-dragged > * {
    opacity: var(--f-drag-is-dragged-opacity);
}

.f-drag-area.is-animated .f-drag-element.is-dragged,
.f-drag-area.is-animated .f-drag-area__element.is-dragged {
    display: none;
}

/* 
    line variant
    f-drag-element isn't here because these elements don't exist  
    in the parent DragElementArea (.f-drag-area)
*/

:root {
    --f-drag-lined-x-offset: -50%;
    --f-drag-lined-y-offset: -50%;
    --f-drag-lined-size: 2px;
}

.f-drag-area__element__line {
    position: absolute;
    background: var(--f-color-accent);
    z-index: 100;
    animation: f-drag-fadein var(--f-transition-duration-slow);
}

@keyframes f-drag-fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}

.f-drag-area__placeholder-lined::after,
.f-drag-area__element__line::after {
    content: ' ';
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translate(-100%, calc(var(--f-drag-lined-size) * -1));
    width: 4px;
    height: 4px;
    outline: var(--f-drag-lined-size) solid var(--f-color-accent);
    border-radius: 50%;
}

.f-drag-area__element__line.is-vertical.is-first {
    top: 0px;
    left: 0px;
    width: 100%;
    height: var(--f-drag-lined-size);
}

.f-drag-area__element__line.is-vertical.is-last {
    bottom: 0; 
    left: 0; 
    width: 100%;
    height: var(--f-drag-lined-size);
}

.f-drag-area__element__line.is-horizontal.is-first {
    left: 0; 
    top: 0;
    height: 100%;
    width: var(--f-drag-lined-size);
}

.f-drag-area__element__line.is-horizontal.is-last {
    right: 0; 
    top: 0; 
    height: 100%;
    width: var(--f-drag-lined-size);
}

.f-drag-area__element__line.is-horizontal {
    transform: translateX(var(--f-drag-lined-x-offset));
}

.f-drag-area__element__line.is-vertical {
    transform: translateY(var(--f-drag-lined-y-offset));
}

/* lined-focus variant */

.f-drag-area__element__lined-focus {
    pointer-events: none;
    position: absolute;
    z-index: 100;
    top: 0px;
    height: 100%;
    left: 0px;
    width: 100%;
    background: rgb(from var(--f-color-accent) r g b / 5%);
    outline: 2px solid var(--f-color-accent);
    outline-offset: -2px;
    border-radius: var(--f-radius);
    animation: f-drag-focus 0.5s;
}

@keyframes f-drag-focus {
    from { opacity: 0; }
    to { opacity: 1; }
}

/* 
    drag element focus 
    f-drag-area__element isn't here because the pattern for showing "fosued"
    is different - see right above
*/

.f-drag-element[data-focus="yes"]:before {
    content:" ";
    position: absolute;
    pointer-events: none;
    z-index: 100;
    top: 0px;
    height: 100%;
    left: 0px;
    width: 100%;
    background: rgb(from var(--f-color-accent) r g b / 5%);
    outline: 2px solid var(--f-color-accent);
    outline-offset: -2px;
    border-radius: var(--f-radius);
    animation: f-drag-focus 0.5s; 
}

/* buffer, ghost & placeholder */

.f-drag-area__placeholder-lined {
    position: absolute;
    top: 0px;
    left: 0px;
    height: var(--f-drag-lined-size);
    pointer-events: none;
    z-index: 10000;
    background: var(--f-color-accent);
    animation: f-drag-fadein var(--f-transition-duration-fast);
}

:root {
    --f-drag-placeholder-background: var(--f-color-surface-stronger);
    --f-drag-placeholder-radius: 0;
    --f-drag-placeholder-border: none;
    --f-drag-placeholder-outline: none;
    --f-drag-placeholder-margin: 0;
    --f-drag-ghost-opacity: 1;
}

.f-drag-area__placeholder {
    position: absolute;
    top: 0px;
    left: 0px;
    pointer-events: none;
    z-index: 1;
    margin: var(--f-drag-placeholder-margin);
    border: var(--f-drag-placeholder-border);
    outline: var(--f-drag-placeholder-outline);
    border-radius: var(--f-drag-placeholder-radius);
    background: var(--f-drag-placeholder-background);
    /* animation: f-drag-fadein var(--f-transition-duration-fast); */
    /* transition: transform 0.1s var(--f-drag-transition); */
    /* background: red; */
    /* z-index: 99999999999999; */
    /* background: rgba(255,0,0,0.25); */
}

.f-drag-area__buffer {
    position: relative;
    z-index: 0;
    pointer-events: none;
}

.f-drag-ghost {
    top: 0px;
    left: 0px;
    position: fixed;
    user-select: none !important;
    pointer-events: none !important;
    z-index: 10000;
    will-change: transform;
    opacity: var(--f-drag-ghost-opacity);
    /* transition: transform 1s linear;  */
}

.f-drag-ghost * {
    user-select: none !important;
    pointer-events: none !important;
}
