# OSX
#
.DS_Store

# node.js
#
node_modules/
npm-debug.log
yarn-error.log

# Bundle artifact
*.jsbundle
*.bundle

.docs
lib
dist

tsconfig.tsbuildinfo
storybook-static

.yarn/*
!.yarn/releases
!.yarn/plugins
.pnp.*

docs-output

packages/pro
packages/external
