:root {
    --f-audio-waveform-active: var(--f-color-accent);
    --f-audio-waveform-inactive: var(--f-color-surface-stronger);
    --f-audio-waveform-pin-width: 0.2rem;
    --f-audio-waveform-pin-height: 4rem;
    --f-audio-waveform-pin-background: var(--f-color-surface-strongest);
}

.f-audio {
    display: inline-block;
    border-radius: var(--f-radius);
    width: fit-content;
    height: fit-content;
    position: relative;
}
.f-audio audio {
    position: relative;
    width: 100%;
}

.f-audio.is-loading audio {
    visibility: hidden;
}

.f-audio .f-spinner-overlay {
    background-color: transparent;
}

.f-audio-waveform__container {
    position: relative;
    flex: 1;
    margin-left: 1rem;
    cursor: pointer;
}

.f-audio-waveform__active,
.f-audio-waveform__inactive {
    pointer-events: none;
    user-select: none;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
}

.f-audio-waveform__active {
    stroke: var(--f-audio-waveform-active);
    z-index: 2;
}

.f-audio-waveform__inactive {
    stroke: var(--f-audio-waveform-inactive);
    z-index: 1;
}

/* saveform */

.f-audio-waveform {
    justify-content: stretch;
    gap: 0.25rem;
}

.f-audio-waveform__container {
    padding: 0;
    margin: 0;
    flex: 1;
    position: relative;
}

.f-audio-waveform input[type="range"].f-audio-waveform__range {
    padding: 0;
    margin: 0;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;   
    z-index: 5;
    -webkit-appearance: none;
    background: transparent;
}

.f-audio-waveform input[type="range"].f-audio-waveform__range::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: var(--f-audio-waveform-pin-height);
    width: var(--f-audio-waveform-pin-width);
    border: none;
    border-radius: var(--f-radius);
    background-color: var(--f-audio-waveform-active);
    box-shadow: none;
}

.f-audio-waveform input[type="range"].f-audio-waveform__range:focus::-webkit-slider-thumb {
    outline: none;
}

.f-audio-waveform input[type="range"].f-audio-waveform__range:hover::-webkit-slider-thumb {
    cursor: pointer;
    background-color: var(--f-audio-waveform-active);
    border: none;
}

.f-audio-waveform input[type="range"].f-audio-waveform__range::-webkit-slider-runnable-track  {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
}
