:root {
    --f-icon-sizing-xs: var(--f-icon-size-xs);
    --f-icon-sizing-sm: var(--f-icon-size-sm);
    --f-icon-sizing-md: var(--f-icon-size-md);
    --f-icon-sizing-lg: var(--f-icon-size-lg);
    --f-icon-sizing-xl: var(--f-icon-size-xl);
    --f-icon-stroke-width-xs: 2.5;
    --f-icon-stroke-width-sm: 2.25;
    --f-icon-stroke-width-md: 1.75;
    --f-icon-stroke-width-lg: 1.5;
    --f-icon-stroke-width-xl: 1.25;
}

.f-icon {
    position: relative;
    display: block;
    flex-shrink: 0;
}

.f-icon svg {
    fill: currentColor;
}

.f-icon.xs {
    width: var(--f-icon-sizing-xs);
    height: var(--f-icon-sizing-xs);
    stroke-width: var(--f-icon-stroke-width-xs);
}

.f-icon.xs circle,
.f-icon.xs path {
    stroke-width: var(--f-icon-stroke-width-xs) !important;
}

.f-icon.sm {
    width: var(--f-icon-sizing-sm);
    height: var(--f-icon-sizing-sm);
    stroke-width: var(--f-icon-stroke-width-sm);
}

.f-icon.sm circle,
.f-icon.sm path {
    stroke-width: var(--f-icon-stroke-width-sm) !important;
}

.f-icon.md {
    width: var(--f-icon-sizing-md);
    height: var(--f-icon-sizing-md);
    stroke-width: var(--f-icon-stroke-width-md);
}

.f-icon.md circle,
.f-icon.md path {
    stroke-width: var(--f-icon-stroke-width-md) !important;
}

.f-icon.lg {
    width: var(--f-icon-sizing-lg);
    height: var(--f-icon-sizing-lg);
    stroke-width: var(--f-icon-stroke-width-lg);
}

.f-icon.lg circle,
.f-icon.lg path {
    stroke-width: var(--f-icon-stroke-width-lg) !important;
}

.f-icon.xl {
    width: var(--f-icon-sizing-xl);
    height: var(--f-icon-sizing-xl);
    stroke-width: var(--f-icon-stroke-width-xl);
}

.f-icon.xl circle,
.f-icon.xl path {
    stroke-width: var(--f-icon-stroke-width-xl) !important;
}
