:root {
    --f-card-color-background: var(--f-color-surface);
    --f-card-color-solid-background: var(--f-color-surface-inverse);
    --f-card-border-radius: var(--f-radius-xl);
    --f-card-border-color: var(--f-color-border);
    --f-card-shadow: var(--f-shadow-sm);
}

.f-card {
    border-radius: var(--f-card-border-radius);
    border: 1px solid;
    border-color: var(--f-card-border-color);
    position: relative;
    background-color: var(--f-card-color-background);
    box-shadow: var(--f-card-shadow);
}

.f-card__footer,
.f-card__header {
    width: 100%;
    height: fit-content;
    position: relative;
}
