:root {
    --f-form-control-color-info: var(--f-color-text-weakest);
    --f-form-control-color-error: var(--f-color-danger);
    --f-form-control-color-success: var(--f-color-success);
    --f-form-control-color-warning: var(--f-color-warning);
    --f-form-control-spacing: var(--f-space-2);
    --f-form-fieldset-border-radius: var(--f-radius);
    --f-form-fieldset-legend-margin: var(--f-space-5);
    --f-form-fieldset-legend-color: var(--f-color-text-weak);
    --f-form-label-required-color: var(--f-color-danger);
    --f-form-description-color: var(--f-color-text-weaker);
}

.f-form-fieldset {
    padding: 0;
    border: 0;
}

.f-form-fieldset legend.f-text {
    margin-bottom: var(--f-form-fieldset-legend-margin);
    color: var(--f-form-fieldset-legend-color);
    display: block;
}

/* form label */

.f-form-label.is-required:after {
    content: '*';
    color: var(--f-form-label-required-color);
    margin-left: 0.5rem;
}

/* form description */

.f-form-description {
    display: block;
    color: var(--f-form-description-color);
}

/* form field */

.f-form-control {
    user-select: none;
    width: 100%;
    height: fit-content;
}

.f-form-control.is-row {
    width: fit-content;
}

.f-form-control > .f-checkbox ~ .f-form-label,
.f-form-control > .f-radio ~ .f-form-label {
    margin-left: var(--f-form-control-spacing);
}

.f-form-control.is-row > * + * {
    margin-left: var(--f-form-control-spacing);
}

.f-form-control:not(.is-row) > * + * {
    margin-top: var(--f-form-control-spacing);
}

/* form field status */

.f-form-helper-text {
    width: fit-content;
    user-select: none;
    justify-content: flex-start;
    gap: 0.1rem;
}

.f-form-helper-text.is-info,
.f-form-helper-text.is-info span {
    color: var(--f-form-control-color-info);
}

.f-form-helper-text.is-error,
.f-form-helper-text.is-error span {
    color: var(--f-form-control-color-error);
}

.f-form-helper-text.is-warning,
.f-form-helper-text.is-warning span {
    color: var(--f-form-control-color-warning);
}

.f-form-helper-text.is-success,
.f-form-helper-text.is-success span {
    color: var(--f-form-control-color-success);   
}

/* error states with borders & text colors */

.f-form-control.is-error {
    color: var(--f-form-control-color-error);
}

.f-form-control.is-error * {
    border-color: var(--f-form-control-color-error) !important;
}

.f-form-control.is-warning {
    color: var(--f-form-control-color-warning);
}

.f-form-control.is-warning * {
    border-color: var(--f-form-control-color-warning) !important;
}

.f-form-control.is-success {
    color: var(--f-form-control-color-success);
}

.f-form-control.is-success * {
    border-color: var(--f-form-control-color-success) !important;  
}
