/* time */

:root {
    --f-time-picker-background-color-hover: var(--f-color-surface-strong);
    --f-time-picker-background-color-active: var(--f-color-surface-strong);
    --f-time-picker-color: var(--f-color-text-weaker);
    --f-time-picker-color-hover: var(--f-color-text-weak);
    --f-time-picker-color-active: var(--f-color-accent);
    --f-time-picker-padding: var(--f-space-2) var(--f-space-5);
    --f-time-picker-ampm-padding: var(--f-space-3);
}

.f-time-picker { 
    position: relative;
}

.f-time-picker-column {
    overflow-y: auto;
    height: 100%;
    flex: 1;
}

.f-time-picker-time { 
    padding: var(--f-time-picker-padding);
    color: var(--f-time-picker-color);
}

.f-time-picker-time:hover {
    background: var(--f-time-picker-background-color-hover);
    color: var(--f-time-picker-color-hover);
}

.f-time-picker-time.is-selected {
    background-color: var(--f-time-picker-background-color-active);
    color: var(--f-time-picker-color-active);
}

.f-time-picker__ampm {
    padding: var(--f-time-picker-ampm-padding);
}

/* date cell */

:root {
    --f-date-cell-weekend: var(--f-color-text);
    --f-date-cell-weekend-background: var(--f-color-surface-strong);
    --f-date-cell-unavailable: var(--f-color-text-weakest);
    --f-date-cell-disabled: var(--f-color-text-weakest);
    --f-date-cell-disabled-background: var(--f-color-surface-strong);
    --f-date-cell-pending: var(--f-color-accent);
    --f-date-cell-pending-background: var(--f-color-accent-weak);
    --f-date-cell-selected: var(--f-color-accent-weak);
    --f-date-cell-selected-background: var(--f-color-accent);
    --f-date-cell-selected-space: 1px;
    --f-date-cell-today: var(--f-color-accent);
    --f-date-cell-selection-opacity: 0.25;
}

.f-date-cell {
    height: auto;
    flex-grow: 1;
    font-weight: 500;
    position: relative;
    cursor: pointer;
    user-select: none;
    position: relative;
    color: var(--f-color-text);
}

.f-date-cell.is-unavailable {
    color: var(--f-date-cell-unavailable);
}

.f-date-cell.is-weekend {
    color: var(--f-date-cell-weekend);
    background: var(--f-date-cell-weekend-background);
}

.f-date-cell.is-unavailable.is-weekend {
    color: var(--f-date-cell-disabled);
}

.f-date-cell.is-disabled {
    color: var(--f-date-cell-disabled);
    cursor: not-allowed;
}

.f-date-cell.is-today {
    color: var(--f-date-cell-today);
    font-weight: bold;
}

/* pending */

.f-date-cell.is-pending {
    color: var(--f-date-cell-pending);
}

.f-date-cell.is-pending::after {
    content: ' ';
    display: block;
    pointer-events: none;
    position: absolute;
    width:calc(96% - var(--f-date-cell-selected-space));
    height: calc(96% - var(--f-date-cell-selected-space));
    top: var(--f-date-cell-selected-space);
    left: 0;
    z-index: -2;
    background: var(--f-date-cell-pending-background);
    border-radius: var(--f-radius);
    opacity: var(--f-date-cell-selection-opacity); /* instead of adding a accent-weaker token */
    animation-name: f-date-cell-selection-fadein;
    animation-duration: 0.2s;
    animation-timing-function: ease-in;
}

@keyframes f-date-cell-selection-fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: var(--f-date-cell-selection-opacity);
    }
}

/* selection */

.f-date-cell.is-selected {
    position: relative;
    color: var(--f-date-cell-selected);
}

.f-date-cell.is-selected::before {
    content: ' ';
    display: block;
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: calc(96% - var(--f-date-cell-selected-space));
    top: var(--f-date-cell-selected-space);
    left: 0;
    z-index: -1;
    background: var(--f-date-cell-selected-background);
    animation-name: f-date-cell-selected-fadein;
    animation-duration: 0.05s;
    animation-timing-function: ease-in;
}
 
.f-date-cell.is-start::before {
    border-top-left-radius: var(--f-radius);
    border-bottom-left-radius: var(--f-radius);
}

.f-date-cell.is-end::before {
    border-top-right-radius: var(--f-radius);
    border-bottom-right-radius: var(--f-radius);
} 

@keyframes f-date-cell-selected-fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* weekdays */

:root {
    --f-month-weekday-padding: var(--f-space-5) 0;
    --f-month-weekdays-background: transparent;
}

.f-weekdays {
    align-items: stretch;
    width: 100%;
    background: var(--f-month-weekdays-background);
}

.f-weekdays > * {
    flex: 1;
    font-weight: 600;
    text-align: center;
    padding: var(--f-month-weekday-padding);
    color: var(--f-color-text);
}

/* month */

:root {
    --f-month-day-width: calc(100%/7);
}

.f-month {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: stretch;
    align-items: stretch;
    align-content: stretch;
    width: 100%;
}

.f-month > * {
    width: var(--f-month-day-width);
}

/* months */

:root {
    --f-months-month-width: calc(100%/12*3);
}

.f-months {
    width: 100%;
    height: 100%;
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: stretch;
    align-items: stretch;
    align-content: stretch;
}

.f-months > * {
    width: var(--f-months-month-width);
}

/* years */

:root {
    --f-years-year-width: calc(100%/12*3);
}

.f-years {
    width: 100%;
    height: 100%;
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: stretch;
    align-items: stretch;
    align-content: stretch;
}

.f-years > * {
    width: var(--f-years-year-width);
}

/* date picker */

:root {
    --f-date-picker-height: 300px;
}

.f-date-picker {
    justify-content: stretch;
    align-items: stretch;
    align-content: stretch;
    min-height: var(--f-date-picker-height);
}

.f-date-picker__panels {
    flex: 1;
    justify-content: stretch;
    align-items: stretch;
    align-content: stretch;
    gap: var(--f-space-2);
}

.f-date-picker__titles {
    gap: var(--f-space-1);
}

.f-date-picker__panel {
    flex: 1;
    justify-content: stretch;
    align-items: stretch;
    align-content: stretch;
}

.f-date-picker__titles > .f-date-picker__title {
    flex: 1;
}

.f-date-picker__titles > .f-date-picker__title .f-button__label .f-text {
    width: 100%;
    display: flex;
    justify-content: stretch;
    align-items: stretch;
    align-content: stretch;
    flex-direction: row;
}

.f-date-picker__titles > .f-date-picker__title .f-date-picker__title-text {
    flex: 1;
    display: block;
}

.f-date-picker__titles > .f-date-picker__title .f-date-picker__title-text:last-child {
}

/* scrolling date picker */

.f-scrolling-date-picker {
  position: relative;
  overflow-y: auto;
}
