:root {
    --f-menu-shadow: var(--f-shadow-menu);
    --f-menu-padding: var(--f-space-1);
    --f-menu-background-color: var(--f-color-surface);
    --f-menu-border-color: var(--f-color-border);
    --f-menu-border-radius: var(--f-radius);
    --f-menubar-item-padding:  var(--f-space-2);
    --f-menu-item-font-weight: var(--f-font-weight-normal);
    --f-menu-offset: 10px;
    --f-menu-item-ix-spacing: 0.75rem;
    --f-menubar-padding: var(--f-space-3);
}

.f-menu {
    font-family: var(--f-font-body);
    width: 100%; 
    height: fit-content;
    background-color: var(--f-menu-background-color);
    border-radius: var(--f-menu-border-radius);
    border: 1px solid;
    border-color: var(--f-menu-border-color);
    list-style-type: none;
    margin: 0px;
    padding: var(--f-menu-padding) 0;
    z-index: var(--f-index-menu);
    position: relative;
}

.f-menu:not(.is-menubar) {
    box-shadow: var(--f-menu-shadow);
}

/* ************************************************************** */
/* ************************************************************** */
/* ************************************************************** */

/* submenu */

.f-menu-item > .f-menu {
    display: none;
    position: absolute;
    flex-shrink: 0;
    top: 0px;
    right: var(--f-menu-offset);
    transform: translateX(100%); 
    animation: f-menu-fadein var(--f-transition-duration-fast); 
}

@keyframes f-menu-fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}

.f-menu-item.is-open > .f-menu {
    display: block;
}

/* ************************************************************** */
/* ************************************************************** */
/* ************************************************************** */

:root {
    --f-menu-item-background-color-hover: var(--f-color-surface-strong);
    --f-menu-item-background-color-active: var(--f-color-surface-strong);
    --f-menu-item-color: var(--f-color-text-weak);
    --f-menu-item-color-hover: var(--f-color-text);
    --f-menu-item-color-active: var(--f-color-accent);
    --f-menu-item-color-system-active: var(--f-color-surface-stronger);
    --f-menu-item-color-disabled: var(--f-color-text-weakest);
    --f-menu-item-padding: 0.4rem 0.75rem;
    --f-menu-item-margin: 0 0.2rem;
    --f-menu-item-height: fit-content;
}

/* menu item */

.f-menu-item {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%; 
    height: fit-content;
    display: block;
    position: relative;
    flex-shrink: 0;
    color: var(--f-menu-item-color);
}

.f-menu-item * {
    color: currentColor;
}

.f-menu-item__container {
    cursor: pointer;
    padding: var(--f-menu-item-padding);
    margin: var(--f-menu-item-margin);
    border-radius: var(--f-radius);
    justify-content: flex-start;
    transition: background-color 0.1s;
    height: var(--f-menu-item-height);
    justify-content: flex-start;
    position: relative;
    border: 0;
    background: transparent;
    list-style-type: none;
    gap: var(--f-menu-item-ix-spacing);
    text-decoration: none;
    user-select: none;
    flex-grow: 1;
}

.f-menu-item__label {
    font-size: var(--f-font-size-md); 
    font-weight: var(--f-menu-item-font-weight);
    color: inherit;
    text-align: left;
    flex: 1;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
    text-decoration: none;
}

.f-menu-item__suffix {
    border: none;
    background: none;
    color: inherit;
}

.f-menu-item__prefix {
    color: inherit;
}

/* ************************************************************** */
/* ************************************************************** */
/* ************************************************************** */

/* states */

.f-menu-item__container:not(.is-disabled).is-active {
    color: var(--f-menu-item-color-active);    
    background-color: var(--f-menu-item-background-color-active);    
}

.f-menu-item__container:not(.is-disabled).is-active > * {
    color: var(--f-menu-item-color-active);    
}

.f-menu-item.is-open > .f-menu-item__container:not(.is-disabled),
.f-menu-item__container:not(.is-disabled):focus {
    outline: none;
    color: var(--f-menu-item-color-hover);
    background-color: var(--f-menu-item-background-color-hover);
}

.f-menu-item:not(.is-disabled):active > .f-menu-item__container {
    background-color: var(--f-menu-item-color-system-active);
}

.f-menu-item__container.is-disabled {
    color: var(--f-menu-item-color-disabled);
    cursor: not-allowed;
    outline: none;
}

.f-menu-item__container:last-child {
    border-bottom: none;
}

/* ************************************************************** */
/* ************************************************************** */
/* ************************************************************** */

/* divider */ 

:root {
    --f-menu-divider-spacing: var(--f-space-2);
    --f-menu-divider-color: var(--f-color-border);
}

.f-menu-divider {
    height: 1px;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: block;
    border-top: 1px solid var(--f-menu-divider-color);
    margin-top: var(--f-menu-divider-spacing);
    margin-bottom: var(--f-menu-divider-spacing);
}

.f-menu-divider > hr {
    display: none;
}



/* ************************************************************** */
/* ************************************************************** */
/* ************************************************************** */

/* section */

:root {
    --f-menu-section-padding: 0.5rem 0.75rem;
}

.f-menu-section {
    padding: var(--f-menu-section-padding);
    flex-shrink: 0;
    color: var(--f-menu-item-color);
    width: 100%;
    display: block;
}



/* ************************************************************** */
/* ************************************************************** */
/* ************************************************************** */

:root {
    --f-menu-heading-padding: 0.4rem 0.75rem;
    --f-menu-heading-color: var(--f-color-text-weakest);
}

/* heading */

.f-menu-heading {
    flex-shrink: 0;
    width: 100%;
    padding: var(--f-menu-heading-padding);
    gap: var(--f-menu-item-ix-spacing);
    color: var(--f-menu-heading-color);
}

.f-menu-heading .f-menu-heading__heading {
    font-weight: var(--f-font-weight-medium);
    flex: 1;
    color: inherit;
}

.f-menu-heading .f-menu-heading__suffix {
    border: none;
    background: none;
    color: inherit;
}

.f-menu-heading .f-menu-heading__prefix {
    color: inherit;
}

/* ************************************************************** */
/* ************************************************************** */
/* ************************************************************** */

/* menubar (horizontal) */

.f-menu.is-menubar {
    width: fit-content;
    min-width: fit-content;
    flex-shrink: 0;
    justify-content: flex-start;
    padding: var(--f-menubar-padding);
    flex-wrap: wrap;
}

.f-menu.is-menubar > .f-menu-item {
    width: fit-content;
} 

.f-menu.is-menubar > .f-menu-divider {
    margin: 0;
    margin-left: var(--f-menu-divider-spacing);
    margin-right: var(--f-menu-divider-spacing);
    height: 100%;
    width: 1px;
    border: none;
    position: static;
} 

.f-menu.is-menubar > .f-menu-divider > hr {
    display: block;
    position: absolute;
    height: 100%;
    top: calc((((var(--f-menubar-padding)) / 2) * -1) - 4px);
    width: 1px;
    color: transparent;
    background: transparent;
    border: none;
    border-left: 1px solid var(--f-color-border);
}

.f-menu.is-menubar > .f-menu-item .f-menu-item__active {
    display: none;
}

.f-menu.is-menubar > .f-menu-item .f-menu-item__container {
    padding: var(--f-menubar-item-padding);
    border-radius: var(--f-menu-border-radius);
}

.f-menu.is-menubar > .f-menu-item > .f-menu:not(.is-menubar) > .f-menu-item > .f-menu-item__container {
    padding: var(--f-menu-item-padding);
    padding: 0;
}

.f-menu.is-menubar > .f-menu-item .f-menu .f-menu-item__container {
    border-radius: 0;
}

.f-menu.is-menubar > .f-menu-item > .f-menu {
    top: 100%;
    right: 100%;
    transform: translateX(100%) translateY(0%);
}
 
/* ************************************************************** */
/* ************************************************************** */
/* ************************************************************** */

/* off screen */

.f-menu.is-offscreen-x {
    top: 0px;
    right: 0px;
    left: var(--f-menu-offset);
    transform: translateX(-100%);
}

.f-menu.is-menubar > .f-menu-item > .f-menu.is-offscreen-x {
    top: 100%;
    right: 0px;
    left: 100%;
    transform: translateX(-100%) 
}

.f-menu.is-menubar > .f-menu-item > .f-menu.is-offscreen-y {
    top: 0px;
    right: 100%;
    transform: translateX(100%) translateY(-100%);
}
