
/* card */

:root {
    --f-task-card-background: var(--f-color-surface);
    --f-task-card-border: 0.1rem solid var(--f-color-border);
    --f-task-card-radius: var(--f-radius);
    --f-task-card-spacing-bottom: 0.25rem;
    --f-task-card-padding: 0.75rem;
    --f-task-card-image-padding: 0;
    --f-task-card-content-gap: var(--f-size-2);
    --f-task-card-text-gap: var(--f-size-2);
    --f-task-card-text-padding: 2px 0 0 0;
    --f-task-card-gap: 1rem;
    --f-task-card-panel-padding: 0;
    --f-task-card-panel-gap: 0.25rem;
}

.f-task-card {
    position: relative;
    width: 100%;
    height: fit-content;
    user-select: none;
    cursor: pointer;
    z-index: 1;
    border-bottom: var(--f-task-card-spacing-bottom) solid transparent;
}

.f-task-card:focus {
    outline: none;
}

.f-task-card__inner {
    position: relative;
    width: 100%;
    height: fit-content;
    padding: var(--f-task-card-padding);
    border-radius: var(--f-task-card-radius);
    border: var(--f-task-card-border);
    background: var(--f-task-card-background);
    gap: var(--f-task-card-gap);
    align-items: stretch;
    align-content: stretch;
    justify-content: stretch;
}

.f-task-card__image {
    padding: var(--f-task-card-image-padding);
}

.f-task-card__content {
    flex-grow: 1;
    align-items: flex-start;
    padding: 0;
    width: 100%;
    gap: var(--f-task-card-content-gap);
}

.f-task-card__text {
    gap: var(--f-task-card-text-gap);
    align-items: stretch;
    justify-content: flex-start;
    flex: 1;
    padding: var(--f-task-card-text-padding);
}

.f-task-card__text > .f-text {
    word-break: break-all;
    width: 100%;
}

.f-task-card__panel {
    width: 100%;
    flex-wrap: wrap; 
    justify-content: flex-start;
    padding: var(--f-task-card-panel-padding);
    gap: var(--f-task-card-panel-gap);
}

.f-task-card__panel:empty {
    display: none;
}

.f-task-card.is-selected .f-task-card__inner {
    outline: 0.2rem solid var(--f-color-accent);
    z-index: 10;
}

.f-task-card.is-locked {
    cursor: not-allowed;
    user-select: none;
}

.f-task-card.is-locked .f-task-card__inner {
    pointer-events: none;
    opacity: 0.5;
}

.f-task-card .f-avatar {
    border: 0.1rem solid var(--f-color-surface);
}

/* list item */

:root {
    --f-task-li-background: var(--f-color-surface);
    --f-task-li-background-selected: var(--f-color-surface-strong);
    --f-task-li-outline-selected: none;
    --f-task-li-radius: 0rem;
    --f-task-li-padding: 0.75rem 0;
    --f-task-li-title-gap: 0.75rem;
    --f-task-li-content-gap: 0.5rem;
    --f-task-li-checkbox-buffer: 30px;
    --f-task-li-panel-gap: 0.5rem;
}

.f-task-list-item {
    background: var(--f-task-li-background);
    border-top: 0.1rem solid var(--f-color-border);
    border-radius: var(--f-task-li-radius);
    position: relative;
    width: 100%;
    height: fit-content;
    user-select: none;
    cursor: pointer;
    z-index: 1;
}

.f-task-list-item:focus {
    outline: none;
}

.f-task-list-item__inner {
    position: relative;
    width: 100%;
    height: fit-content;
    padding: var(--f-task-li-padding);
    border-radius: var(--f-task-li-radius);
    width: 100%;
}

.f-task-list-item.is-selected .f-task-list-item__inner {
    outline: var(--f-task-li-outline-selected);
    z-index: 10;
    background: var(--f-task-li-background-selected);
}

.f-task-list-item.is-locked {
    cursor: not-allowed;
    user-select: none;
}

.f-task-list-item.is-locked .f-task-list-item__inner {
    pointer-events: none;
    opacity: 0.5;
}

.f-task-list-item .f-avatar {
    border: 0.1rem solid var(--f-color-surface);
}

.f-task-list-item__title {
    width: 100%;
    gap: var(--f-task-li-title-gap);
}

.f-task-list-item__content {
    gap: var(--f-task-li-content-gap);
    margin-top: var(--f-task-li-content-gap);
    padding-left: var(--f-task-li-checkbox-buffer);
}

.f-task-list-item__panel {
    width: 100%;
    color: var(--f-task-text-description-color);
    flex-wrap: wrap; 
    justify-content: flex-start;
    gap: var(--f-task-li-panel-gap);
}

.f-task-list-item__content:empty,
.f-task-list-item__panel:empty {
    display: none;
}

/* text */

:root {
    --f-task-text-completed-color: var(--f-color-text-weakest);
    --f-task-text-title-color: var(--f-color-text);
    --f-task-text-description-color: var(--f-color-text-weaker);
    --f-task-text-title-size: var(--f-font-size-md);
    --f-task-text-description-size: var(--f-font-size-md);
}

.f-task-text-title,
.f-task-text-description {
    height: fit-content;
    white-space: pre-line;
    overflow-wrap: break-word;
    width: 100%;
    max-width: 100%;
    flex-shrink: 1;
    flex: 1;
    display: inline-block;
    transition: opacity 0.1s;
}

.f-task-text-title {
    color: var(--f-task-text-title-color);
    font-size: var(--f-task-text-title-size);
}

.f-task-text-description {
    color: var(--f-task-text-description-color);
    font-size: var(--f-task-text-description-size);    
}

.f-task-text-title.is-complete,
.f-task-text-description.is-complete,
.f-task-text-title.is-complete > *,
.f-task-text-description.is-complete > * {
    color: var(--f-task-text-completed-color) !important;
}

.f-task-text-title:empty,
.f-task-text-description:empty {
    display: none;
}

/* menu */

:root {
    --f-task-menu-background: var(--f-color-surface);
    --f-task-menu-x: 0.75rem;
    --f-task-menu-y: 0.55rem;
    --f-task-menu-hover: var(--f-color-surface-strong);
    --f-task-menu-color: var(--f-color-text-weaker);
}

.f-task-menu-button {
    padding: 0.1rem;
    display: none;
    position: absolute;
    top: var(--f-task-menu-y);
    right: var(--f-task-menu-x);
    z-index: 4;
    border-radius: var(--f-radius);
    background: var(--f-color-surface);
    box-shadow: 0 5px 15px -5px var(--f-color-surface);
    animation: f-drag-fadein 0.1s;
}

@keyframes f-drag-fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}

.f-task-card:hover .f-task-menu-button,
.f-task-list-item:hover .f-task-menu-button {
    display: flex;
}

.f-task-menu-button button {
    background: var(--f-task-menu-background);
    color: var(--f-task-menu-color);
    border-radius: var(--f-radius);
    padding: 0.2rem 0.6rem;
    border: none;
    transition: background 0.1s;
}

.f-task-menu-button button:hover {
    background: var(--f-task-menu-hover);
    color: var(--f-task-menu-color);
}

/* checkbox */

:root {
    --f-task-checkbox-padding: 0;
    --f-task-checkbox-margin-list: 0 0 0 3px;
    --f-task-checkbox-margin-card: 0;
}

.f-task-checkbox {
    justify-content: flex-start;
    padding: var(--f-task-checkbox-padding);
}

.f-task-card .f-task-checkbox {
    margin: var(--f-task-checkbox-margin-card);
}

.f-task-list-item .f-task-checkbox {
    margin: var(--f-task-checkbox-margin-list);
}

.f-task.is-low .f-task-checkbox .f-checkbox-alt {
    color: var(--f-color-caution);
    background-color: var(--f-color-caution-weak);
    border-color: var(--f-color-caution);
}

.f-task.is-medium .f-task-checkbox .f-checkbox-alt {
    color: var(--f-color-warning);
    background-color: var(--f-color-warning-weak);
    border-color: var(--f-color-warning);
}

.f-task.is-high .f-task-checkbox .f-checkbox-alt {
    color: var(--f-color-danger);
    background-color: var(--f-color-danger-weak);
    border-color: var(--f-color-danger);
}

/* badge */

:root {
    --f-task-badge-color: var(--f-color-text-weaker);
}

.f-task-badge {
    color: var(--f-task-badge-color);
}










/* ---------------------------------------------- */

/* edit mode */

:root {
    --f-task-em-padding: 0.75rem 0;
    --f-task-em-radius: 0;
    --f-task-em-description-padding: 0 0.75rem 0.25rem 0.75rem;
    --f-task-em-toolbar-padding: 0 0 0.5rem 0;
}

.f-task-em {
    background: var(--f-task-card-background);
    border-radius: var(--f-task-em-radius);
}

.f-task-em .f-textarea {
    border: 0;
    box-shadow: none;
    border-radius: 0;
    color: var(--f-task-text-title-color);
    font-size: var(--f-task-text-title-size);
    background: transparent;
}

.f-task-em .f-textarea:first-child {
    padding: var(--f-task-em-padding);
}

.f-task-em__desc {
    width: 100%;
    align-items: flex-start;
    padding: var(--f-task-em-description-padding);
    gap: 0.75rem;
}

.f-task-em__desc .f-textarea {
    padding: 0;
    padding-top: 0.15rem; /* line up with icon */
    color: var(--f-task-text-description-color);
    font-size: var(--f-task-text-description-size);  
}

.f-task-em__desc .f-icon {
    color: var(--f-color-text-weakest);
}

.f-task-em .f-textarea:focus {
    outline: none;
}

.f-task-em__toolbar {
    width: 100%;
    padding: var(--f-task-em-toolbar-padding);
}
