html, body {
    background-color: transparent;
    box-sizing: border-box;
    font-size: 14px;
    font-weight: normal;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji"
} 

*,
*:before,
*:after {
    outline-color: transparent;
    box-sizing: inherit;
}

*:focus {
    transition-timing-function: linear;
    transition-property: outline;
    transition-duration: 100ms;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure {
    margin: 0px;
    padding: 0px;
    font-weight: normal;
}

img {
    max-width: 100%;
    height: auto;
}
