:root {
    --f-buttonize-opacity: 0.8;
    --f-buttonize-opacity-active: 0.6;
    --f-buttonize-outline-size: 0.2rem;
    --f-buttonize-outline-size-active: 0.25rem;
    --f-buttonize-outline-color: var(--f-color-accent);
}

/* button */

.f-buttonize {
    cursor: pointer;
    transition: opacity .1s;
}

.f-buttonize:hover {
    opacity: var(--f-buttonize-opacity);
}

.f-buttonize:active {
    opacity: var(--f-buttonize-opacity-active);
}

.f-buttonize-outline {
    transition: outline, opacity 0.25s;
}

.f-buttonize-outline:hover {
    cursor: pointer;
    transition: outline 0.1s;
    outline: var(--f-buttonize-outline-size) solid var(--f-buttonize-outline-color);
}

.f-buttonize-outline:active {
    outline: var(--f-buttonize-outline-size-active) solid var(--f-buttonize-outline-color);
    /* filter: brightness(90%) contrast(110%); */

}

/* text */

.f-uppercase {
    text-transform: uppercase;
}

.f-underline {
    --f-underline-position: 105%;
    --f-underline-size: 2px;
    text-decoration: none !important;
}

.f-underline::after {
    width: 0%;
    height: var(--f-underline-size);
    transition: height, width var(--f-transition-duration-ultra-fast) var(--f-transition-easing-ease-in);
    content: "";
    position: absolute;
    top: var(--f-underline-position);
    left: 0px;
    background-color: currentColor;
    z-index: 2;
}

.f-underline:hover::after {
    width: 100%;
}

/* text */ 

.f-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: relative;
}

.f-wrap {
    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: break-word;
    white-space: normal;
}

/* scrollbars */

.f-scrollbar {
    --f-scrollbar-size: 0.3rem;
    --f-scrollbar-foreground: var(--f-color-surface-stronger);
    --f-scrollbar-background: transparent;

    scrollbar-width: thin; 
    scrollbar-color: var(--f-scrollbar-foreground) var(--f-scrollbar-background);
}

/* 
.f-scrollbar::-webkit-scrollbar {
    width: var(--f-scrollbar-size);
    height: var(--f-scrollbar-size);
}

.f-scrollbar::-webkit-scrollbar-thumb {
    background: var(--f-scrollbar-foreground);
}

.f-scrollbar::-webkit-scrollbar-track {
    background: var(--f-scrollbar-background);
}

.f-scrollbar::-webkit-scrollbar-corner {
    background: var(--f-scrollbar-background);
    width: 0;
    height: 0;
    border-left: 16px solid var(--f-scrollbar-background);
    border-top: 16px solid var(--f-scrollbar-background);
    border-bottom: 16px solid var(--f-scrollbar-background);
    border-right: 16px solid var(--f-scrollbar-background);
} */

/* overflow */

.f-overflow-y-auto {
    overflow-y: auto;
}

.f-overflow-x-auto {
    overflow-x: auto;
}

.f-overflow-auto {
    overflow: auto;
}

/* flex */ 

.f-flexer {
    flex: 1;
}

.f-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.f-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center; 
}

/* basic fade in */

.f-fadein {
    animation: f-fadein var(--f-transition-duration-slow);
}

@keyframes f-fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}

/* other */

.f-user-select-none {
    user-select: none;
}

.f-pointer-events-none {
    pointer-events: none;
}

/* cursors */

.f-cursor-col-resize,
.f-cursor-col-resize * {
    cursor: col-resize !important;
}

.f-cursor-row,
.f-cursor-row * {
    cursor: row-resize !important;
}

.f-cursor-col,
.f-cursor-col * {
    cursor: col-resize !important;
}

.f-cursor-grabbing {
    cursor: grabbing !important;
}
