:root {
    --f-radio-border-radius: var(--f-radius-full); 
    --f-radio-border-color: var(--f-color-border);
    --f-radio-border-color-hover: var(--f-color-border-strong);
    --f-radio-background-color: var(--f-color-surface);
    --f-radio-active-background-color: var(--f-color-accent);
    --f-radio-active-border-color: transparent;
    --f-radio-active-color: var(--f-color-surface);
    --f-radio-disabled-background-color: var(--f-color-surface-strong);
    --f-radio-disabled-border-color: var(--f-color-border);
    --f-radio-disabled-color: var(--f-color-border);
}

input.f-radio[type="radio"] {
    -webkit-appearance: none;
    cursor: pointer;
    appearance: none;
    height: var(--f-size-5);
    width: var(--f-size-5);
    border-radius: var(--f-radio-border-radius); 
    border: 1px solid;
    border-color: var(--f-radio-border-color);
    background-color: var(--f-radio-background-color);
    display: grid;
    place-content: center;
    flex-shrink: 0;
    position: relative;
    padding: 0;
    margin: 0;
}

input.f-radio[type="radio"]:after {
    content: " ";
    position: absolute;
    left: 50%;
    top: 50%;
    width: 50%;
    height: 50%;
    transform: translate(-50%, -50%);
    border-radius: calc(var(--f-radio-border-radius)/2); /* keep it propportional */
    background-color: var(--f-color-surface);
}

input.f-radio[type="radio"]:hover {
    border-color: var(--f-radio-border-color-hover);
}

input.f-radio[type="radio"]:focus {
    outline: var(--f-focus);
    outline-offset: 1px;
    transition: outline 100ms;
}

input.f-radio[type="radio"]:checked {
    border-color: var(--f-radio-active-border-color);
    background-color: var(--f-radio-active-background-color);
    color: var(--f-radio-active-color);
}

input.f-radio[type="radio"]:disabled {
    border-color: var(--f-radio-disabled-border-color);
    background-color: var(--f-radio-disabled-background-color);
    color: var(--f-radio-disabled-color);
    cursor: not-allowed;
}

/* sizes */

input.f-radio[type="radio"].xs { 
    height: var(--f-size-3); 
    width: var(--f-size-3); 
}

input.f-radio[type="radio"].sm {
    height: var(--f-size-4);
    width: var(--f-size-4);
}

input.f-radio[type="radio"].md {
    height: var(--f-size-5);
    width: var(--f-size-5);
}

input.f-radio[type="radio"].lg {
    height: var(--f-size-6);
    width: var(--f-size-6);
}

input.f-radio[type="radio"].xl {
    height: var(--f-size-7);
    width: var(--f-size-7);
}
